.container {
  margin: 20px auto 0;
  width: 60%;
}

.element {
  padding: 10px;
  height: 130px;
  border-style: solid;
  border-width: 2em;
  border-color: #008ae6;
  box-shadow: inset 1px 1px 150px #000;
}

h1 {
	color: #0066cc;
	font-size: 3rem;
	font-family: Verdana;
	text-align: center;
}

body {
	background: lightblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5c00e6;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ccf5ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
}

h2 {
	color: #007399;
	font-family: Calibri;
	text-align: center;
	font-size: 40px;
	border: 2px solid #4da6ff;
	box-shadow: 2px 4px 10px #9966ff;
}

h4 {
	color: yellow;
	font-size: 2rem;
	font-family: Raleway;
	text-align: center;
}

em {
	font-style: oblique;
	font-family: Arial;
}

#infobox {
  background-color: #5d5dd5;
  color: #ebebfa;
  font-family: Verdana;
  box-shadow: 2px 4px 10px #ff6666;
}

.btn {
    background-color: #006600; 
    border: none;
    color: #99ffff;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;

img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
}